.Logo {
  /* background-color:pink; */
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Logo > img {
  width: 40%;
}

.Characters_picture {
  background-image: url("../../Assets/marvel_largeScreen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: yellow;
  height: 150px;
}

nav {
  /* background-color: green; */
  background-color: #202020;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

nav p {
  /* border: solid 0.5px lightgray; */
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw / 3);
  color: white;
}

nav p:hover {
  background-color: red;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Logo > img {
    width: 30%;
  }
  .Characters_picture {
    height: 250px;
  }

  nav {
    font-size: 2em;
    height: 80px;
  }

  nav p{
    height: 80px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Characters_picture {
    background-image: url("../../Assets/marvel_largeScreen.jpg");
    height: 300px;
  }
  .Logo > img {
    width: 10%;
    height: 60px;
  }

  .NavWrapper {
    background-color: rgb(32,32,32);
    display: flex;
    justify-content: center;
  }
  nav {
    /* background-color: pink; */
    font-size: 1em;
    width: 1200px;
    height: 40px;
  }

  nav p{
      /* border: 1px solid red; */
      width:calc(1200px/3);
      height: 40px;
  }
}
